<div class="content" role="main">
    <div class="col-md-3">
    <h2 class="form-changepw-heading">Password Change</h2>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
            <label for="oldpw" class="sr-only">Old Password</label>
            <input [(ngModel)]="oldpwd" type="password" class="form-control" name="" placeholder="Old Password" id="oldpw">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
            <label for="newpw" class="sr-only">New Password</label>
            <input [(ngModel)]="newpwd" type="password" class="form-control" name="" placeholder="New Password" id="newpw">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></span>
            <label for="confirmpw" class="sr-only">New Password</label>
            <input id="conformPWD" [(ngModel)]="confirm_newpwd" type="password" class="form-control" name="" placeholder="Confirm New password" id="confirmpw">
        </div>
        <button (click)="submitChangePwdRequest()" type="button" class="btn btn-primary" style="width: 100%;">Submit</button>
    </div>  
</div>
