.content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 1700px;
    flex-direction: column;
    align-items: center;
  }
  .btn-add {
    margin-left: 81%; 
    margin-top: 3%;
  }

  .search-box {
    margin-left: 77%; 
    margin-bottom: 3%;
  }